WebServiceConsumption/WebServiceConsumption/Connected Services/ServiceReference1/SampleWebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="firstvalue" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="secondvalue" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="operation" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="calculationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="calculationSoapIn">
    <wsdl:part name="parameters" element="tns:calculation" />
  </wsdl:message>
  <wsdl:message name="calculationSoapOut">
    <wsdl:part name="parameters" element="tns:calculationResponse" />
  </wsdl:message>
  <wsdl:portType name="SampleWebserviceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="calculation">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes 2 values as a input for calculation and displays the result</wsdl:documentation>
      <wsdl:input message="tns:calculationSoapIn" />
      <wsdl:output message="tns:calculationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SampleWebserviceSoap" type="tns:SampleWebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculation">
      <soap:operation soapAction="http://tempuri.org/calculation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SampleWebserviceSoap12" type="tns:SampleWebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculation">
      <soap12:operation soapAction="http://tempuri.org/calculation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SampleWebservice">
    <wsdl:port name="SampleWebserviceSoap" binding="tns:SampleWebserviceSoap">
      <soap:address location="http://localhost:64598/SampleWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="SampleWebserviceSoap12" binding="tns:SampleWebserviceSoap12">
      <soap12:address location="http://localhost:64598/SampleWebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>