Jquery/Jquery/Connected Services/ServiceReference1/samplewebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetEmployeeDetail">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeDetailResult" type="tns:Employee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Employee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EmpFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmpLastName" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEmployeeDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeDetail" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="samplewebserviceSoap">
    <wsdl:operation name="GetEmployeeDetail">
      <wsdl:input message="tns:GetEmployeeDetailSoapIn" />
      <wsdl:output message="tns:GetEmployeeDetailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="samplewebserviceSoap" type="tns:samplewebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployeeDetail">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="samplewebserviceSoap12" type="tns:samplewebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployeeDetail">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeeDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="samplewebservice">
    <wsdl:port name="samplewebserviceSoap" binding="tns:samplewebserviceSoap">
      <soap:address location="http://localhost:60185/samplewebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="samplewebserviceSoap12" binding="tns:samplewebserviceSoap12">
      <soap12:address location="http://localhost:60185/samplewebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>